NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCXky8l7ehNcmndlihQEgNTgOXu1R0N8Sw
NEXT_PUBLIC_FIREBASE_APP_ID=1:757767295888:web:c9cc6d379088109b101915
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=jdb-league-hub.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=jdb-league-hub
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=jdb-league-hub.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=757767295888
NEXT_PUBLIC_ADMIN_DEMO_MODE=false
